body {
    font-family: sans-serif; 
}
header {
 background-color: blue ; 
 padding: 10px;
border-radius: 10px;
}
h1{
    background-color: orange;
    border-radius: 10px;
    text-align: center;
}

footer p{
    background-color: lawngreen;
}
 img  {
    background-color: blue;
    text-align: center;
    border-radius: 10px;
}
nav{
    margin: 10px;
    padding: 10px;

}

nav a{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px
}
